* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  background: #f1cfe4;
}

.container {
  max-width: 1110px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 50px;
  height: 400px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  border-radius: 41px;
  background: #f1cfe4;
  box-shadow: inset 29px 29px 58px #b097a6, inset -29px -29px 58px #ffffff;
}

.case {
  display: flex;
  justify-content: space-evenly;
}

label {
  margin-right: 10px;
}

.msg {
  display: none;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn .button {
  padding: 10px;
}
